<div class="body">
    <section class="container">
      <header>Reset Password</header>
      <form class="form" [formGroup]="Data" (ngSubmit)="send()">
        <div class="input-box">
          <label>Email Address</label>
          <input
            type="text"
            name="to_email"
            placeholder="Enter email address"
            formControlName="to_email"
          />
        </div>
        @if((Data.controls['to_email'].dirty || Data.controls['to_email'].touched)
        && Data.hasError('required','to_email')){
        <small>*Email is required</small>
        }
  
        <div class="column">
          <div class="input-box">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
              formControlName="password"
            />
          </div>
        </div>
        @if((Data.controls['password'].dirty || Data.controls['password'].touched)
        && Data.hasError('required','password')){
        <small>*Password is required</small>
        }
        <div class="column">
          <div class="input-box">
            <label>Confirm Password</label>
            <input
              type="password"
              name="Cpassword"
              placeholder="Re-Enter Password"
              formControlName="Cpassword"
            />
          </div>
        </div>
        @if((Data.controls['Cpassword'].dirty || Data.controls['Cpassword'].touched)
        && Data.hasError('required','Cpassword')){
        <small>*Password is required</small>
        }
  
        <button type="submit" [disabled]="!Data.valid" (click)="onLogIn()">
          Done
        </button>
        <!-- <button type="submit" [disabled]="!data.valid" (click)="onLogIn()">Forget Password</button> -->
      </form>
    </section>
  </div>
  